header
	h1 Discount Ascii Warehouse
	p Here you're sure to find a bargain on some of the finest ascii available to purchase. Be sure to peruse our selection of ascii faces in an exciting range of sizes and prices.
	//p But first, a word from our sponsors:
	//img.ad(ng-src="{{::vm.model.sponsorAd}}")
	p Sort by 
		select(
			ng-model="vm.model.sortKey"
			ng-change="vm.actions.onChangeSortKey()"
			ng-options="sortKey as sortKey for sortKey in vm.model.sortKeysList"
		)
		
section.products(callback-on-bottom="vm.handlers.callbackOnBottomHandler")
	.product-item(ng-repeat-start="product in vm.model.productsList track by product.id")
		.product
			span(
				style="font-size: {{::product.size + 'px'}}"
				ng-bind="::product.face"
				)
			.day(ng-bind="::product.date | weekCheck")
			.price(ng-bind="::product.price/100 | currency")
	.product-item(ng-repeat-end)
		.product(
			ng-if="::(($index + 1) % vm.model.showAdAfterElementIndex == 0)"
			ng-init="adSrc = vm.actions.getAdLink()"
			)
			img.ad(ng-src="{{::adSrc}}")
footer.products-footer(ng-class="{'show-footer':vm.model.productsLoading}")
	p Loading ...
footer.products-footer(ng-class="{'show-footer':vm.model.endOfCatalogue}")
	p ~ end of catalogue ~